

body.page-home, html.page-home {
  height: 100% !important;
  margin: 0 !important;
  overflow: hidden !important;
}

body.page-home .captcha-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

body.page-home .captcha-container {
  text-align: center !important;
  max-width: 100% !important;
  max-height: 100% !important;
}


body.page-home .captcha-container h2 {
  color: white !important;
}

body.page-home .captcha-container input,
body.page-home .captcha-container button {
  margin-top: 10px !important;
}
